# This is an intentionally value-free inventory, not a runnable secret file.
# Must be a registry digest, never a floating tag.
SERVICEHUB_BACKEND_IMAGE=registry.internal.example/servicehub/backend@sha256:REPLACE_WITH_64_HEX_DIGEST
SERVICEHUB_FRONTEND_IMAGE=registry.internal.example/servicehub/frontend@sha256:REPLACE_WITH_64_HEX_DIGEST
SERVICEHUB_INTERNAL_NETWORK=servicehub_production
SERVICEHUB_DB_URL=jdbc:mysql://db.internal.example:3306/servicehub?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC
SERVICEHUB_DB_USERNAME=REPLACE_WITH_RUNTIME_ACCOUNT
SERVICEHUB_DB_PASSWORD=REPLACE_WITH_SECRET_MANAGER_INJECTION
SERVICEHUB_FLYWAY_DB_URL=jdbc:mysql://db.internal.example:3306/servicehub?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC
SERVICEHUB_FLYWAY_DB_USERNAME=REPLACE_WITH_MIGRATION_ACCOUNT
SERVICEHUB_FLYWAY_DB_PASSWORD=REPLACE_WITH_SECRET_MANAGER_INJECTION
SERVICEHUB_ATTACHMENT_HOST_PATH=/srv/servicehub/attachments
SERVICEHUB_TEMP_HOST_PATH=/srv/servicehub/tmp
SERVICEHUB_CLAMAV_HOST=clamav.internal.example
SERVICEHUB_CLAMAV_ALLOWED_HOSTS=clamav.internal.example
SERVICEHUB_CLAMAV_PORT=3310
SERVICEHUB_CLAMAV_CONNECT_TIMEOUT=2s
SERVICEHUB_CLAMAV_READ_TIMEOUT=5s
SERVICEHUB_CLAMAV_TOTAL_TIMEOUT=15s
SERVICEHUB_CLAMAV_CHUNK_SIZE_BYTES=65536
SERVICEHUB_CLAMAV_MAX_RESPONSE_BYTES=4096
SERVICEHUB_SECURITY_ALLOWED_ORIGINS=https://servicehub.internal.example
SERVICEHUB_TICKET_CURSOR_SIGNING_KEY=REPLACE_WITH_AT_LEAST_32_BYTE_SECRET_MANAGER_INJECTION
SERVICEHUB_TICKET_CURSOR_TTL=15m
SERVICEHUB_SUPPORT_QUEUE_HMAC_CURRENT_VERSION=v1
SERVICEHUB_SUPPORT_QUEUE_HMAC_KEY_RING=v1=REPLACE_WITH_AT_LEAST_32_BYTE_MANAGED_HMAC_KEY
SERVICEHUB_SUPPORT_QUEUE_IDEMPOTENCY_LEASE=2m
SERVICEHUB_IAM_SSO_ENABLED=true
SERVICEHUB_IAM_SSO_SUBJECT_ATTRIBUTE=sub
SERVICEHUB_IAM_CLIENT_ID=REPLACE_WITH_OIDC_CLIENT_ID
SERVICEHUB_IAM_CLIENT_SECRET=REPLACE_WITH_SECRET_MANAGER_INJECTION
SERVICEHUB_IAM_ISSUER_URI=https://iam.internal.example/issuer
SERVICEHUB_FLYWAY_BASELINE_ON_MIGRATE=false
SERVICEHUB_FLYWAY_BASELINE_VERSION=34
SERVICEHUB_BIND_ADDRESS=127.0.0.1
SERVICEHUB_BACKEND_PORT=8080
SERVICEHUB_FRONTEND_PORT=8088
